<div class="main_container">
    <div class="header"></div>
    <div class="left_side">
        <div class="visibility_status"></div>
        <div class="real_time_detail">
            <h3>Real Time Details</h3>
            <div class="details_name">
                <div>as</div>
                <div>as</div>
                <div>as</div>
                <div>as</div>
                <div>as</div>
                <div>as</div>
                <div>as</div>
                <div>as</div>
                <div>as</div>
                <div>as</div>
                <div>as</div>
                <div>as</div>
            </div>
        </div>
        <div class="main_individual_data"></div>
    </div>
    <div class="right_side">
        <div class="actual_graph"></div>
        <div class="error_graph"></div>
        <div class="individual_data">
            <div class="heading_div">Individual Data</div>
            <div class="iDiv1"></div>
            <div class="iDiv2"></div>
            <div class="iDiv3"></div>
            <div class="iDiv4"></div>
            <div class="iDiv5"></div>
            <div class="iDiv6"></div>
        </div>
    </div>
</div>