<p>navbar works!</p>
<nav class="navbar navbar-expand-md fixed-top navbar-dark flex-fill">
   
    <div class="navbar-header pl-3 pr-1 ml-3 text-center">
      
        <img src="../../../assets/img/deevia_logo.jpg" alt="lightning logo" width="37%" height="70%">
        <span class="ml-1" style="color: whitesmoke; font-size: x-large;"> &nbsp; Visibility Forecasting </span>
    </div>

    <div class="sidebar-toggler ml-auto mr-3">
    </div>
    <div class="nav-toggler-right mr-4 d-md-none">
      
    </div>

    <div class="col p-6 text-white" style=" color:white;text-align: right;margin-right: 50px;font-size: 20px;">
        <span style="padding-right: 200px;font-size: 30px; font-family: 'Times New Roman', Times, serif;">currentDate</span>  
        &nbsp;
        
        <span class="logout" style="cursor: pointer;font-size: 30px; font-family: 'Times New Roman', Times, serif;" (click)="logout()">Logout</span> 
        &nbsp;
    </div>
    
  </nav>