body {
    margin: 0px;
    background-color: #f5f5ff;
    /* background-color: #fc0; */
    font-family: sans-serif;
    min-height: 100vh;
    width: 100%;
}
#main_container {
    display: flex;
    align-items: center;
    justify-content: center;
    
    margin: 0px;
}
.left_section {
    position: relative;
    gap: 2rem;
    width: 28%;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.logo_container {
    display: flex;
    align-items: center;
    margin: 1%;
    width: 50%;
}
.detail_container {
    width: 95%;
    height: 40%;
    position: relative;
    border-radius: 10px;
    margin: 1%;
    left: 2%;
    padding: 2%;
    background-color: #ffffff;
    /* background-color: #fc0; */
    transition: all 0.3s ease-in-out;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}
.detail_container:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    transform: scale(1.01);
}
.project_title {
    text-align: center;
    font-size: larger;
    font-weight: 550;
    /* margin-bottom: 2%; */
}
/* !............Animated text Style.............. */

@keyframes cursor {
    from, to {
        border-color: transparent;
   }
    50% {
        border-color: black;
   }
}
@keyframes typing {
    from {
        width: 100%;
   }
    90%, to {
        width: 0;
   }
}
@keyframes slide {
    33.3333333333% {
        font-size: 1.5rem;
        letter-spacing: 2px;
   }
    to {
        font-size: 0;
        letter-spacing: 0;
   }
}
.typing-slider {
    font-family: Consolas, monospace;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
}
.typing-slider p {
    position: relative;
    display: inline;
    font-size: 0;
    text-transform: uppercase;
    letter-spacing: 0;
    animation: slide 15s step-start infinite;
}
.typing-slider p::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    border-left: 3px solid black;
    background-color: #ffffff;
    animation: typing 5s infinite, cursor 1s infinite;
}
.typing-slider p:nth-child(1) {
    animation-delay: 0s;
}
.typing-slider p:nth-child(1)::after {
    animation-delay: 0s;
    animation-timing-function: steps(22), step-end;
}
.typing-slider p:nth-child(2) {
    animation-delay: 5s;
}
.typing-slider p:nth-child(2)::after {
    animation-delay: 5s;
    animation-timing-function: steps(22), step-end;
}
.typing-slider p:nth-child(3) {
    animation-delay: 10s;
}
.typing-slider p:nth-child(3)::after {
    animation-delay: 10s;
    animation-timing-function: steps(22), step-end;
}


/* !.........End................ */
.details {
    padding: 1%;
}
.title_name {
    font-weight: 600;
    font-size: larger;
}
.station_list {
    list-style-type: disc;
    padding: 5px;
    position: relative;
    left: 2%;
}
li {
    font-weight: 500;
}
.compass_container{
    width: 10%;
    float: right;
    margin: 7% 1% 0% 0%;
    position: relative;
}
.map_container {
    position: relative;
    background-position: center;
    background-image: url('/assets/Location_2.jpg');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-size: contain;
    /* min-width: 1500px;
    height: 700px; */
    /* background-color: #fc0; */
}
.active_air_base {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.7;
    z-index: 0;
    border-radius: 50%;
    cursor: pointer;
}
.inactive_air_base {
    position: absolute;
    width: 30px;
    height: 70px;
}
.base_circle {
    position: absolute;   
    width: 10px;
    height: 10px;
    z-index: 1;
    opacity: 1;
    border-radius: 50%;
    background-color: black; 
    cursor: pointer;
}
.title {
    cursor: pointer;
    font-weight: 600;
}
/* !   ........GORAKHPUR AIRBASE............. */
#gorakhpur_container {
    left: 48%;
    top: 32%;
    border: 25px rgb(64, 162, 64) solid;
    animation: growAndFade 1.5s infinite;
    transition: all 0.5s ease-in-out;
}
#gorakhpur_base {
    position: absolute;   
    width: 10px;
    height: 10px;
    z-index: 1;
    opacity: 1;
    border-radius: 50%;
    background-color: black;    
}
#title_gorakhpur {
    position: absolute;
    left: 48%;
    top: 32%;
}

/* !   ............SRINAGAR AIRBASE............. */

#srinagar_container {
    position: absolute;
    left: 38%;
    top: 6%;
    border: 25px rgb(64, 162, 64) solid;
    animation: growAndFade 1.5s infinite;
    transition: all 0.5s ease-in-out;
}
#srinagar_base {
    position: absolute;   
    width: 10px;
    height: 10px;
    z-index: 1;
    opacity: 1;
    border-radius: 50%;
    background-color: black;    
}
#title_srinagar {
    position: absolute;
    left: 38%;
    top: 6%;
}

/* !   .............HINDAN AIRBASE............. */

#hindan_container {
    left: 41%;
    top: 24%;
    border: 25px rgb(64, 162, 64) solid;
    animation: growAndFade 1.5s infinite;
    transition: all 0.5s ease-in-out;
}
#hindan_base {
    position: absolute;   
    width: 10px;
    height: 10px;
    z-index: 1;
    opacity: 1;
    border-radius: 50%;
    background-color: black;    
}
#title_hindan {
    position: absolute;
    left: 41%;
    top: 24%;
}

/* !   ...........CHANDIGARH AIRBASE............. */

#chandigarh_container {
    position: absolute;
    left: 40.3%;
    top: 18%;
    border: 25px rgb(64, 162, 64) solid;
    animation: growAndFade 1.5s infinite;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}
#chandigarh_base { 
    position: absolute;   
    width: 10px;
    height: 10px;
    z-index: 1;
    opacity: 1;
    border-radius: 50%;
    background-color: black;    
}
#title_chandigarh {
    position: absolute;
    left: 40.3%;
    top: 18%;
}
/* !.............Inactive Airbases ...............*/
#leh_AFS {
    position: absolute;
    left: 43%;
    top: 4.5%;
}
#nicobar_AFS {
    position: absolute;
    left: 64.2%;
    top: 87%;
}
#portblair_AFS {
    position: absolute;
    left: 63.75%;
    top: 77.5%;
}
#trivandrum_AFS {
    position: absolute;
    left: 40.2%;
    top: 89%;
}
#thanjavur_AFS {
    position: absolute;
    left: 43.5%;
    top: 82%;
}
#sulur_AFS {
    position: absolute;
    left: 40.25%;
    top: 80.75%;
}
#tambram_AFS {
    position: absolute;
    left: 45%;
    top: 74%;
}
#yelahanka_AFS {
    position: absolute;
    left: 41%;
    top: 74%;
}
#lohegaon_AFS {
    position: absolute;
    left: 35.75%;
    top: 55%;
}
#jamnagar_AFS {
    position: absolute;
    left: 31%;
    top: 42%;
}
#nagpur_AFS {
    position: absolute;
    left: 43.5%;
    top: 48.5%;
}
#kalaikunda_AFS {
    position: absolute;
    left: 55%;
    top: 43%;
}
#bidar_AFS {
    position: absolute;
    left: 41%;
    top: 58.3%;
}
#kalaikunda_AFS {
    position: absolute;
    left: 55%;
    top: 43%;
}
#chabua_AFS {
    position: absolute;
    left: 65.5%;
    top: 24.5%;
}
#kumbhigram_AFS {
    position: absolute;
    left: 63%;
    top: 33%;
}
#tawang_AFS {
    position: absolute;
    left: 61%;
    top: 25%;
}
#bagdodra_AFS {
    position: absolute;
    left: 56.2%;
    top: 29%;
}
#darbhanga_AFS{
    position: absolute;
    left: 53%;
    top: 30.5%;
}
#maharajpur_AFS {
    position: absolute;
    left: 42.5%;
    top: 31%;
}
#amritsar_AFS {
    position: absolute;
    left: 38.2%;
    top: 13.5%;
}
#nal_bikaner_AFS {
    position: absolute;
    left: 36%;
    top: 23.5%;
}
#uttarlai_AFS {
    position: absolute;
    left: 33%;
    top: 31%;
}
#bareilly_AFS {
    position: absolute;
    left: 44.5%;
    top: 25%;
}
  /* .circles {
    height: 90vmin;
    position: relative;
    width: 90vmin;
}
.circles > div {
    animation: growAndFade 3s infinite ease-out;
    background-color: rgb(64, 162, 64);
    border-radius: 50%;
    height: 50px;
    opacity: 0;
    position: absolute;
    width: 50px;
}
.circles .circle1 {
    animation-delay: 1s;
}
.circles .circle2 {
    animation-delay: 2s;
}
.circles .circle3 {
    animation-delay: 3s;
} */
@keyframes growAndFade {
    0% {
        opacity: .2;
        transform: scale(0);
    }
    20% {
        opacity: 0.3;
        transform: scale(0.2);
    }
    40% {
        opacity: 0.4;
        transform: scale(0.4);
    }
    60% {
        opacity: 0.5;
        transform: scale(0.6);
    }
    80% {
        opacity: 0.6;
        transform: scale(0.8);
    }
    100% {
      opacity: 0.7;
      transform: scale(1);
    }
  }