*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.main_container {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: rgb(244, 245, 247);
    background-color: #71C9CE;
}
.header {
    display: flex;
    width: 100%;
    height: 8%;
    align-items: center;
    text-align: center;
    background-color: #A6E3E9;
}
.user_container {
    margin: 5px;
    width: 15%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
}
#logo{
    margin-left: 1%;
    width: 50px;
}
.user_title {
    font-size: x-large;
    font-weight: 600;
}
#nav_icon {
    width: 50px;
}
.heading {
    width: 75%;
    font-weight: 600;
    font-size: xx-large;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.date_btn_container {
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.date_time_content {
    font-size: large;
    font-weight: 500;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/* !  ...........Logout Btn  */
.logout_btn {
    align-items: center;
    appearance: none;
    background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #EEEEEE;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono",monospace;
    height: 42px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    -webkit-user-select: none;
    user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 18px;
  }
  
  .logout_btn:focus {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  }
  
  .logout_btn:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
  }
  
  .logout_btn:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
  }
/* !.......................... */
.main_section {
    display: flex;
    width: 100%;
    height: 92%;
}
/* ! ......left Section........... */
.left_section {
    width: 20%;

}
.station_container {
    width: 92%;
    display: flex;
    flex-direction: column;
    background-color: #e9e9e9;
    border-radius: 5px;
    height: 12%;
    top: 1%;
    position: relative;
    left: 3%;
    margin: 1% 1% 1% 1%;
    transition: all 0.3s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}
.station_container:hover {
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    transform: scale(0.99);
}
.station_title {
    font-size: larger;
    font-weight: 500;
    text-align: center;
    margin: 1%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#select_station {
    width: 80%;
    padding: 1%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    position: relative;
    left: 8%;
    font-size: 1.2em;
    margin: 2% 1% 1% 1%;
    padding: 5px;
    border-radius: 5px;
    border: 3px solid #ccc;
}
.date_container {
    width: 92%;
    display: flex;
    flex-direction: column;
    background-color: #e9e9e9;
    border-radius: 5px;
    height: 12%;
    top: 1%;
    position: relative;
    left: 3%;
    margin: 5% 1% 1% 1%;
    transition: all 0.3s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.date_container input{
  margin-top: 3%;
  margin-right: 3%;
}

.date_container:hover {
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    transform: scale(0.99);
}

.date_title {
    font-size: larger;
    font-weight: 500;
    text-align: center;
    margin: 1%;
}
.select_date {
    width: 80%;
    border: 3px solid #ccc;
    font-family: sans-serif;
    font-size: 1.2em;
    padding: .35em .35em;
    border-radius: 5px;
    position: relative;
    left: 10%;
}
.details_container {
    width: 92%;
    display: flex;
    flex-direction: column;
    background-color: #e9e9e9;
    border-radius: 5px;
    height: 68%;
    top: 1%;
    position: relative;
    left: 3%;
    margin: 5% 1% 1% 1%;
    transition: all 0.3s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}
.details_container:hover {
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    transform: scale(0.99);
}
.detail_title {
    font-size: larger;
    font-weight: 500;
    text-align: center;
    margin: 1%;
}

.realtimeDetailsList{
  margin-left: 7%;
  margin-top: 3%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.realtimeDetailsList li {
  margin-top: 2%;
}

/* !.............Right Section .............. */
.right_section{
    width: 80%;
    display: flex;
    background-color: rgb(204, 204, 246);
}

.charts_container {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.forecast_duration {
    width: 69%;
    display: flex;
    flex-direction: column;
    background-color: #e9e9e9;
    margin: 1% 1% 1% 1%;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}
.forecast_title {
    font-size: larger;
    font-weight: 600;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 1%;
}
.time_interval_container {
    display: flex;
    width: 100%;
    padding: 2px;
    align-items: center;
    justify-content: space-around;
    
}
/* *........Duration Button styles........ */

.duration_6hr, .duration_48hr {
    background-image: linear-gradient(-180deg, #37AEE2 0%, #1E96C8 100%);
    border-radius: .25rem;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-size: 16px;
    justify-content: center;
    padding: 0.35rem ;
    text-decoration: none;
    width: 40%;
    border: 0;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    margin: 1%;
    touch-action: manipulation;
  }

  .duration_6hr:hover{
    background-image: linear-gradient(-180deg, #295061 0%, #4a839b 100%);
    color: black;
  }

  .duration_48hr:hover{
    background-image: linear-gradient(-180deg, #295061 0%, #4a839b 100%);
    color: black;
  }
  
  .button-43:hover {
    background-image: linear-gradient(-180deg, #1D95C9 0%, #17759C 100%);
  }
  .charts_section {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .actualGraph_container, .errorGraph_container {
    width: 95%;
    background-color: #e9e9e9;
    border-radius: 5px;
    height: 37.5vh;
    top: 1%;
    position: relative;
    left: 2%;
    margin: 1% 1% 1% 1%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px,rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em inset;
    transition: all 0.3s ease-in-out;
  }
  .actualGraph_container:hover {
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    transform: scale(0.99);
  }
  .errorGraph_container:hover {
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    transform: scale(0.99);
  }
  .actualGraph_title, .errorGraph_title {
    color: rgb(163, 119, 8);
    margin: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    text-align: center;
  }
  .overall_data_container {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e9e9e9;
    margin: 1% 1% 1% 1%;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  }
  .overall_data_title {
    margin: 1%;
    font-size: larger;
    font-weight: 500;

  }
  .overall_data_container:hover {
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    transform: scale(0.99);
  }
  .table_container {
    height: 100%;
    width: 98%;
    overflow-y: auto;
    height: 100%;
  }

  .table_container thead{
    width: 100%;
  }

  .disable-scrollbars{
    width: 98%;
  }

  table, tr, td, th  {
    border: 1px solid black;
    text-align: center;
  }
  .download_btn_container {
    width: 100%;
  }
  .download_btn:hover{
    transform: scale(0.98);
  }
  .download_btn {
    width: 95%;
    margin: 1%;
    align-items: center;
    position: relative;
    left: 2%;
    background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #EEEEEE;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono",monospace;
    height: 40px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 12px;
    padding-right: 12px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    -webkit-user-select: none;
    user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 18px;
  }
