<!-- rgb(1, 16, 47); -->
<section class="home" style="background-color: rgb(1, 16, 47);">
  <!-- <body background="grey"></body> -->
  <div class="layer" style="background-color:rgb(1, 16, 47);">
    <!-- <div class="content-w3ls" style="background-color: aliceblue; width: 80%;"> -->
          
            <!-- <h1 style="margin-left: 25%; text-align: center;margin-top: 5%; max-width:50%; font-size:35pt;font-family: 'Times New Roman', Times, serif; color: white;">Register</h1> -->

            <h6 style="margin-left: 25%; text-align: center;margin-top: 5%; max-width:50%; font-size:50pt;font-family: 'Times New Roman', Times, serif; color: white;">Register</h6>

            
            <div class="content-bottom" style="width: 50%; margin-left: 25%; margin-top: 2%;" >
              <p style="margin-left: 10%; font-size: 30px;font-family: 'Times New Roman', Times, serif ;color:white;margin:2%">Enter name:</p>
                <form>
                <div class="field-group" style="margin-top: 20px;margin-bottom: 0px;">
                  <span class="fa fa-lock text-black"></span>
                  <div class="wthree-field">
                    <input  name="name"  id="name" type="text" value="" style="margin-top: 5px; font-size: 15pt;" placeholder="Name" required>
                  </div>
                </div>
                <span *ngIf="emptyName" style="color: red; font-size: 20pt; margin-top: 0px;">User name is required<meta http-equiv="refresh" content="1"></span>
                 
                <p style="font-size: 30px;font-family: 'Times New Roman', Times, serif ;color:white;margin-top: 2%;">Enter email:</p>
                <div class="field-group" style="margin-top: 20px;margin-bottom: 0px;">
                  <span class="fa fa-lock text-black"></span>
                  <div class="wthree-field">
                    <input  name="email"  id="email" type="text" value="" style="margin-top: 5px;font-size: 15pt;" placeholder="Email" required>
                  </div>
                </div>
                <span *ngIf="emptyEmail" style="color: red; font-size: 20pt; margin-top: 0px;">Email is required<meta http-equiv="refresh" content="1"></span>

                <p style="font-size: 30px;font-family: 'Times New Roman', Times, serif ;color:white;margin-top: 2%;">Enter role:</p>
                <div class="field-group" style="margin-top: 20px;margin-bottom: 0px;">
                  <span class="fa fa-lock text-black"></span>
                  <div class="wthree-field">
                    <input  name="role"  id="role" type="text" value="" style="font-size: 15pt;" placeholder="Role" required>
                  </div>
                </div>
                <span *ngIf="emptyRole" style="color: red; font-size: 20pt; margin-top: 0px;">Role is required<meta http-equiv="refresh" content="1"></span>

                <p style="font-size: 30px;font-family: 'Times New Roman', Times, serif ;color:white;margin-top: 2%;">Enter password:</p>
                <div class="field-group" style="margin-top: 20px;margin-bottom: 0px;">
                  <span class="fa fa-lock text-black"></span>
                  <div class="wthree-field">
                    <input  name="password"  id="password" type="password" value="" style="font-size: 15pt;" placeholder="Password" required>
                  </div>
                </div>
                <span *ngIf="emptyPassword" style="color: red; font-size: 20pt; margin-top: 0px;">Password is required<meta http-equiv="refresh" content="1"></span>

                <p style="font-size: 30px;font-family: 'Times New Roman', Times, serif ;color:white;margin-top: 2%;">Confirm password:</p>
                <div class="field-group" style="margin-top: 20px;margin-bottom: 0px;">
                  <span class="fa fa-lock text-black"></span>
                  <div class="wthree-field">
                    <input  name="confirm_password"  id="confirm_password" type="password" value="" style="font-size: 15pt;" placeholder="Confirm Password" required>
                  </div>
                </div>
                <span *ngIf="emptyConfirmPassword" style="color: red; font-size: 20pt; margin-top: 0px;">Re-enter your password<meta http-equiv="refresh" content="1"></span>
                <span *ngIf="nonMatchingPassword" style="color: red; font-size: 20pt; margin-top: 10px;"><br>Passwords dont match<meta http-equiv="refresh" content="1"></span>

                <div class="wthree-field" style="margin-top: 5%;margin-left: 35%;">
                  <button type="submit" class="btn" (click)="onSubmit()" style="  width: 300px;margin-left:60px;font-size: 20px;font-family: 'Times New Roman', Times, serif;">Register</button>
                </div>

                </form>
            </div>
        </div>
    
  <!-- </div> -->
</section>